{% extends 'with-sidebar.html' %}



{% block mainContent %}
<h1>Forbidden - 403</h1>
<h2>Oops</h2>
<p>I honestly don't know what you did to get this error... Would you mind helping me out? Please <a href="/users/report">report this bug</a> and provide a brief description.</p>
{% endblock %}

{% block sidebar %}
<div class="sidebarBlock">
  <h3>Navigation</h3>
  <a href="/" class="naviLink">Homepage</a>
  <a href="/info" class="naviLink">Info</a>
  <a href="/desks" class="naviLink">My Desk</a>
</div>
{% endblock %}
